<beans xmlns="http://www.springframework.org/schema/beans" xmlns:context="http://www.springframework.org/schema/context" xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:security="http://www.springframework.org/schema/security" xmlns:util="http://www.springframework.org/schema/util" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
  <!--App Info-->
  <bean class="com.dereekb.gae.server.app.model.app.info.impl.AppServiceVersionInfoImpl" id="productionAppServiceInfo">
    <constructor-arg index="0" value="gae-test"/>
    <constructor-arg index="1" value="test"/>
    <constructor-arg index="2" value="v1"/>
  </bean>
  <bean class="com.dereekb.gae.server.app.model.app.info.impl.SystemAppInfoImpl" id="productionAppInfo">
    <constructor-arg index="0" ref="serverAppKey"/>
    <constructor-arg index="1" ref="serverAppName"/>
    <constructor-arg index="2" ref="serverAppSystemKey"/>
    <constructor-arg index="3" ref="productionAppServiceInfo"/>
  </bean>
  <bean class="com.dereekb.gae.server.app.model.app.info.impl.SystemAppInfoFactoryImpl" id="appInfoFactory">
    <property name="productionSingleton" ref="productionAppInfo"/>
  </bean>
  <bean factory-bean="appInfoFactory" factory-method="make" id="serverAppInfo"/>
  <bean class="com.dereekb.gae.server.datastore.models.keys.ModelKey" id="serverAppKey">
    <constructor-arg index="0" ref="serverAppId"/>
  </bean>
  <bean class="java.lang.Long" id="serverAppId">
    <constructor-arg index="0" value="1"/>
  </bean>
  <bean class="java.lang.String" id="serverAppName">
    <constructor-arg index="0" value="GAE Core Test App"/>
  </bean>
  <bean class="java.lang.String" id="serverAppSecret">
    <constructor-arg index="0" value="SECRET"/>
  </bean>
  <bean class="java.lang.String" id="serverAppSystemKey">
    <constructor-arg index="0" value=""/>
  </bean>
  <!--Development-->
  <bean class="java.lang.String" id="appDevelopmentProxyUrl">
    <constructor-arg index="0" value="http://gae-nginx:8080"/>
  </bean>
  <!--Import-->
  <import resource="/startup.xml"/>
  <import resource="/database.xml"/>
  <import resource="/key.xml"/>
  <import resource="/mail.xml"/>
  <import resource="/firebase.xml"/>
  <import resource="/gcstorage.xml"/>
  <import resource="/notifications.xml"/>
  <import resource="/ref.xml"/>
  <import resource="/taskqueue.xml"/>
  <import resource="/security.xml"/>
  <import resource="/login.xml"/>
  <import resource="/util.xml"/>
  <import resource="/search.xml"/>
</beans>
