<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:security="http://www.springframework.org/schema/security"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- App -->
	<bean id="serverAppInfo"
		class="com.dereekb.gae.server.app.model.app.info.impl.AppInfoImpl">
		<constructor-arg index="0" ref="serverAppKey"/>
		<constructor-arg index="1" ref="serverAppName"/>
	</bean>
	
	<bean id="serverAppKey"
		class="com.dereekb.gae.server.datastore.models.keys.ModelKey">
		<constructor-arg index="0" ref="serverAppId"/>
	</bean>
	
	<bean id="serverAppId" class="java.lang.Long">
		<constructor-arg index="0" value="1234" />
	</bean>

	<bean id="serverAppName" class="java.lang.String">
		<constructor-arg index="0" value="Demo" />
	</bean>

	<!-- Imports -->
	<import resource="login.xml" />
	<import resource="taskqueue.xml" />
	<import resource="database.xml" />
	<import resource="keys.xml" />
	<import resource="ref.xml" />
	<import resource="security.xml" />
	<import resource="storage.xml" />
	<import resource="search.xml" />
	<import resource="image.xml" />

</beans>