<div class="form-container" fxLayout="column">
    <div class="form-container-form-view" fxFlex="100%" 
        appFooCreateAction appFooCreateAnalytics #action="appFooCreateAction"
        gaeCreateModelFormController #control="gaeCreateModelFormController" [action]="action" [form]="form" [submit]="submit"
        >
        <app-foo-model-form #form></app-foo-model-form>
        <gae-submit-view #submit [hidden]="true" gaeModelChangeFormActionLinkSubmitView action="Create Foo" lockedText="Done!"></gae-submit-view>
    </div>
</div>
