<gae-list-view-wrapper>
    <mat-toolbar listViewToolbar>
        <a mat-icon-button (click)="refresh()" class="list-toolbar-item">
            <mat-icon>refresh</mat-icon>
        </a>
        <div class="spacer"></div>
        <span>Tallies</span>
        <a mat-icon-button disabled class="list-toolbar-item">
            <mat-icon>filter_list</mat-icon>
        </a>
    </mat-toolbar>
    <app-foo-list-content></app-foo-list-content>
    <ng-content noCountView select="[noCountView]"></ng-content>
</gae-list-view-wrapper>
