<mat-nav-list class="list-view-list">
  <!-- Display Them Below -->
  <a class="list-item" mat-list-item (click)="select(foo)" *ngFor="let foo of elements | async">
    <h3 class="list-item-title" mat-line>{{ foo?.name }}</h3>
    <p class="list-item-detail" mat-line>{{ foo?.number }}</p>
  </a>
  <ng-container>
    <a mat-list-item class="list-content-more" (click)="loadMore()" *ngIf="canLoadMore">
      <mat-icon mat-list-icon>chevron_right</mat-icon>
      <p mat-line>Load More</p>
    </a>
  </ng-container>
</mat-nav-list>
