<div class="form-container">
    <app-foo-read-source #tallytypeSource atomic="true" [readSourceKeys]="targetKey"></app-foo-read-source>
    <gae-model-loader #tallytypeLoader [source]="tallytypeSource"></gae-model-loader>
    <gae-model-loading-view [loader]="tallytypeLoader">
        <div content fxLayout="column">
            <div class="form-container-form-view" fxFlex="100%" 
                appFooUpdateAction appFooUpdateAnalytics #action="appFooUpdateAction"
                gaeUpdateModelFormController #control="gaeUpdateModelFormController" [model]="tallytypeSource.first" [action]="action" [form]="form" [submit]="submit">
                <app-foo-model-form #form hideBeforeInput="true"></app-foo-model-form>
                <gae-submit-view [hidden]="true" gaeModelChangeFormActionLinkSubmitView #submit action="Save" lockedText="Saved!"></gae-submit-view>
            </div>
        </div>
    </gae-model-loading-view>
</div>
