<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name>GAE Test Login Service API</display-name>
  <!--Shared App Context-->
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>/WEB-INF/spring/context.xml</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <!--API Servlet-->
  <servlet>
    <servlet-name>api</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>/WEB-INF/spring/api.xml</param-value>
    </init-param>
    <!--Load On Startup.-->
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>api</servlet-name>
    <url-pattern>/api/login/v1/*</url-pattern>
  </servlet-mapping>
  <!--Taskqueue Servlet-->
  <servlet>
    <servlet-name>taskqueue</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>/WEB-INF/spring/taskqueue.xml</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>taskqueue</servlet-name>
    <url-pattern>taskqueue/*</url-pattern>
  </servlet-mapping>
  <!--Restrict outside access to taskqueue API calls.-->
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>taskqueue</web-resource-name>
      <url-pattern>taskqueue/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
    </auth-constraint>
  </security-constraint>
  <!--Filters-->
  <!--Objectify-->
  <filter>
    <filter-name>ObjectifyFilter</filter-name>
    <filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ObjectifyFilter</filter-name>
    <servlet-name>api</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ObjectifyFilter</filter-name>
    <servlet-name>taskqueue</servlet-name>
  </filter-mapping>
  <!--Spring Security-->
  <filter>
    <filter-name>springSecurityFilterChain</filter-name>
    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>springSecurityFilterChain</filter-name>
    <servlet-name>api</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>springSecurityFilterChain</filter-name>
    <servlet-name>taskqueue</servlet-name>
  </filter-mapping>
  <!--HTTPS Security Enforcement-->
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>all</web-resource-name>
      <url-pattern>/*</url-pattern>
    </web-resource-collection>
    <user-data-constraint>
      <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
</web-app>
